<!DOCTYPE html>
<html>
<head>
	<title>Book List</title>
</head>
<body>
	<h1>Book List</h1>
	<ul>
	<% for(var i = 0, len = books.length; i < len; i++) { %>
		<li><a href="<%= books[i].url %>"><%= books[i].title %></a></li>
	<% } %>
	</ul>
</body>
</html>