<% include ../header.ejs %>
	<div class="container">
		<h1>Book List</h1>
		<hr width="50%">
		<% for(var i = 0, len = books.length; i < len; i++) { %>
			<div class="row">
			<div class="col-sm-4"></div>
				<div class="col-sm-4">
					<a href="/books/<%= books[i].id %>" class="noDec">
						<div class="customWell">
      	  		<%= books[i].title %>
      		  </div>  
      	  </a>
      	  <p><a href="/reviews/<%= books[i].title %>">Read Reviews</a></p>
      	</div>
      <div class="col-sm-4"></div>
      </div>
		<% } %>
	</div>
<% include ../footer.ejs %>