<!DOCTYPE html>
<html>
<head>
	<title>Book List</title>
</head>
<body>
	<h1>Book List</h1>
	<ul>
	<% for(var i = 0, len = books.length; i < len; i++) { %>
		<li>
			<h2>
				<a href="/books/<%= books[i].id %>"><%= books[i].title %></a>
			</h2>
		</li>
	<% } %>
	</ul>
</body>
</html>