<% include ../header.ejs %>
	<div class="container">
		<h1>Book List</h1>
		<hr width="50%">
			<% for(var i = 0, len = (books.length) / 2; i < len; i++) { %>
				<div class="customWell">
        	<a href="/books/<%= books[i].id %>"><%= books[i].title %></a>
        </div>  
			<% } %>
   </table>
</div>
	</div>
<% include ../footer.ejs %>