<!DOCTYPE html>
<html>
<head>
	<title>Search Results</title>
</head>
<body>
	<h1>Search Results</h1>
	<ul>
	<% for(var i = 0, len = results.length; i < len; i++) { %>
	<li><%= results[i].title %></li>
	<% } %>
	</ul>
</body>
</html>