<!DOCTYPE html>
<html>
<head>
	<title>Home | Books</title>
</head>
<body>
	<% if(!user) { %>
		<h1>Login</h1>
		<form method="POST" action="/sessions">
			<input type="text" name="username" placeholder="Username">
			<input type="password" name="password" placeholder="Password">
			<input type="submit">
		</form>
		<p>Not a user? <a href="/users/new">Register</a></p>
	<% } else { %>
		<p><a href="/books/search">Search for a book</a></p>
		<p><a href="/books/list">View Your Bookshelf</a></p>
		<form action="/sessions?_method=DELETE" method="POST">
			<input type="submit" value="Log out">
		</form>
	<% } %>
</body>
</html>