<!DOCTYPE html>
<html>
<head>
	<title>Home | Books</title>
</head>
<body>
	<h1>Home Page</h1>
	<h3><a href="/sessions/new">Login</a></h3>
	<p>Not a user? <a href="/users/new">Register Here</a></p>
</body>
</html>