<!DOCTYPE html>
<html>
<head>
	<title>Bookbook. Be Shelfish.</title>
	<link rel="stylesheet" type="text/css" href="style/style.css">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
	<link rel="icon" 
      type="image/x-icon"
      href="images/book.ico">
</head>
<body class="full">
<%- body %>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>
</html>