<% include ../header.ejs %>
	<h1><%= reviews[0].book_name %> - Review</h1>
	<hr width="50%">
			<% for (var i = 0, len = reviews.length; i < len; i++) { %>
			<div class="row">
			<div class="col-sm-4"></div>
				<div class="col-sm-4">
					<div class="customWell2">
						<p>User:<%= reviews[i].user_id %></p>
						<p><%= reviews[i].body %></p>
					</div>
				</div>
				<div class="col-sm-4"></div>
			</div>
			<% } %>
		<button onclick="goBack()" class="btn btn-books">Go Back</button>
<% include ../footer.ejs %>